apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: backend-statefulset
  namespace: web-app
spec:
  serviceName: "backend-service"
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: manodayahire/drive-clone-backend:v1
        ports:
        - containerPort: 5000
        env:
          - name: PORT
            value: "5000"
          - name: MONGODB_URI
            valueFrom:
              secretKeyRef:
                name: webapp-secret
                key: MONGODB_URI
          - name: JWT_SECRET
            valueFrom:
              secretKeyRef: 
                name: webapp-secret
                key: JWT_SECRET
          - name: FRONTEND_URL
            value: http://frontend-service:3000
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: web-app
spec:
  selector:
    app: backend
  type: ClusterIP
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000