apiVersion: apps/v1
kind: StatefulSet
metadata: 
  name: mongo-statefulset
  namespace: web-app
spec:
  serviceName: mongo
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
      - name: mongodb
        image: mongo:7
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          value: admin
        - name: MONGO_INITDB_ROOT_PASSWORD
          value: admin123
        - name: MONGO_INITDB_DATABASE
          value: drive-clone
        

---
apiVersion: v1
kind: Service 
metadata:
  name: mongo-service
  namespace: web-app
spec:
  selector:
    app: mongo
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP